html {
  height: 100%;
}

body.curtain {
  height: 100%;
}

.curtain-block {
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.curtain-block {
  height: 100vh;
  padding: 0;
}
.curtain-block div::after {
  display: none !important;
}
.curtain-block.img-1 {
  background-image: url("../img/style.jpg");
}
.curtain-block.img-2 {
  background-image: url("https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/11049321_439601382864083_940391779_n.jpg");
}
.curtain-block.img-3 {
  background-image: url("https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xfp1/t51.2885-15/11137903_1428919347405020_1064450290_n.jpg");
}
.curtain-block.img-4 {
  background-image: url("https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/11176039_1577157229208917_1091004081_n.jpg");
}
.curtain-block {
  background-attachment: fixed;
}
