.bg-hero {
  top: 0;
  height: 800px;
  background-size: cover;
  background-attachment: fixed;
  @include box-shadow(rgba(0,0,0,.2) 0 0 60px 10px inset);
  @include mq(medium) {
		height: 100vh;
		background-position: 43% 50%;
  }  
}

.bg-hero--full-height {
  @extend .bg-hero;
  height: 100vh;
  @include mq(medium) {
  	height: 415px;
    background-position: 95% 50%;
  }
  @media only screen 
    and (max-device-width: 1024px) 
    and (orientation: landscape) {
      height: 110vh;
      background-position: 80% 50%;
    }
}

.index .bg-hero {
  background-image: url('../img/bg-home.jpg');
}

.about .bg-hero {
  background-image: url('../img/bg-about.jpg');
}

.scroll-down {
  position: absolute;
  bottom: 3%;
  width: 100%;
  text-align: center;
  color: #D3D3D3;
  @include animation-properties((animation-delay: 3s));  

  div {
    font-size: 1.2em;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
  }
}
.fa-angle-down {
  transition: all .2s ease-in-out;
}

.fa-angle-down:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
   -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  cursor: pointer;
  color: whitesmoke;
}
