/*
 * Main navigation component
 *
 * styles for site-wide nav
 */

.navbar {
  min-height: 75px;
  margin-bottom: 0;
  border-radius: 0;
  padding: 0;

  a {
    transition: $clean-transition;
  }
}

.navbar-default {
  background-color: transparent;
}

.navbar-fixed-top {
  border-bottom: 0;
}

/* Logo */

.navbar-brand {
  padding-top: 21px;
  padding-bottom: 21px;

  @media screen and (max-width: $screen-md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.container-fluid>.navbar-header {
  margin-left: 5%;
}

/* Nav links */

.nav>li:first-child {
    margin-top: 100px;
}

.nav>li>a {
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;

  @media screen and (max-width: $screen-md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-left {
  margin-left: 50px;
}

.nav.navbar-right:last-child {
  margin-right: 5%;
}

/* Collapse button */

.navbar-toggle {
  margin-top: 20.5px;
}

.nav-fixed {
  position: absolute;
  top: 100px;
  text-align: center;
  text-transform: uppercase;
  z-index: $zIndex-front;

  li {
    padding: 10px;
  }

  a {
    color: $black;

    &:hover {
      color: $white;
    }
  }
}

.nav-fixed--left {
  left: 50px;

  li {
    padding: 15px;
  }

  @include mq(medium) {
    left: 10px;
    text-align: left;
  }  
}

.nav-fixed--center {
  top: 25px;
  margin-left: 50vw;
  @include transform(translateX(-50%));
}

.nav-fixed--right {
  right: 50px;

  a:hover {
    color: palette(grey);
  }

  @include mq(medium) {
    right: 10px;
  }  
}
