.index .container {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 950px;
}

.vertical-center {
  margin-top: 400px;
  @include transform(translateY(-50%));

  @include mq(medium) {
  	@include transform(translateY(0));
    margin-top: 435px;
  }  
}

.mobile-padding {
	@include mq(medium) {
	  margin-top: 250px;
	}  
}