<div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <a href="https://instagram.com/p/4hCWuiD8Zh/?taken-by=jordan_denzel" target="__blank">
      <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
    </a>
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11380841_910231265685587_1639114856_n.jpg" alt="yeezy">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <a href="https://instagram.com/p/4hCWuiD8Zh/?taken-by=jordan_denzel" target="__blank">
      <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
    </a>
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 grid--item">      
    <img class="featurette-image img-responsive center-block" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11357634_845780178832057_1245708318_n.jpg" alt="do it now">    
  </div>
</div>