// ==========================================================================
// Compass
// ==========================================================================
@import "compass";

// ==========================================================================
// Reset
// ==========================================================================
@import "base/reset";

// ==========================================================================
// Bootstrap
// ==========================================================================
@import "bootstrap";

// ==========================================================================
// Utilities
// ==========================================================================
@import "utilities/index";

// ==========================================================================
// Base Styles
// ==========================================================================
@import "base/index";

// ==========================================================================
// Layout Styles
// ==========================================================================
@import "layout/index";

// ==========================================================================
// Modules
// ==========================================================================
@import "modules/index";

// ==========================================================================
// States
// ==========================================================================
@import "states/index";

body {
  padding-bottom: 100px;
}

.bg-hero {
  top: 0;
  height: 800px;
  background-size: cover;
  background-attachment: fixed;
  @include box-shadow(rgba(0,0,0,.2) 0 0 60px 10px inset);
}

.index .bg-hero {
  background-image: url('../img/bg-home.jpg');
}

.about .bg-hero {
  background-image: url('../img/bg-about.jpg');
}

.marketing {
  padding-top: 20px;
}

.grid--item {
  padding: 3px;
}

.nav-fixed {
  position: fixed;
  top: 100px;
  text-align: center;
  text-transform: uppercase;
  z-index: $zIndex-front;

  li {
    padding: 10px;
  }

  a {
    color: $black;

    &:hover {
      color: $white;
    }
  }
}

.nav-fixed--left {
  left: 50px;

  li {
    padding: 15px;
  }
}

.nav-fixed--center {
  top: 25px;
  margin-left: 50vw;
  @include transform(translateX(-50%));
}

.nav-fixed--right {
  right: 50px;
}

.vertical-center {
  margin-top: 400px;
  @include transform(translateY(-50%));
}

.portfolio .grid--item,
.life-n-style .grid--item, {
  padding-bottom: 20px;

  img {
    width: 100%;
  }

  figcaption {
    position: absolute;
    top: 0;
    right: -25px;
    text-transform: uppercase;
    @include transform(rotate(90deg) translateX(104%));
    @include transform-origin(right top 0);
  }
}

.press-gallery {
  margin-top: 200px;

  &> div > div{
    padding: 15px;
  }
}

.contact .btn {
  background-color: #000;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  padding: 12px 30px;
  border: 0;
}

.contact .form-control {
  color: #000;
  background-color: #f8f8f8;
  border: 1px solid #000;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.0);
  box-shadow: inset 0 0 0 rgba(0,0,0,0.0);

}
input[placeholder] {
  color: #000;
}