@import "compass";
@import "partials/reset";
@import "bootstrap";
@import "partials/config";
@import "partials/utilities";
@import "partials/extends";
@import "partials/base";
@import "partials/navs";

body {
	padding-bottom: 100px;
}

.bg-hero {
	top: 0;
	height: 800px;
	background-image: url('https://download.unsplash.com/photo-1433463002246-9d846c114eb8');
	background-attachment: fixed;
	@include box-shadow(rgba(0,0,0,.2) 0 0 60px 10px inset);
}

.marketing {
	padding-top: 20px;
}

.grid--item {
  padding: 3px;
}

.nav-fixed {
	position: fixed;
	top: 100px;
	text-align: center;
	text-transform: uppercase;
	z-index: $zIndex-front;

	li {
		padding: 10px;
	}

	a {
		color: $black;
	}
}

.nav-fixed--left {
	left: 50px;
}

.nav-fixed--right {
	right: 50px;
}

.vertical-center {
	margin-top: 400px;
	@include transform(translateY(-50%));
}