<section class="bg-hero">
  <div class="scroll-down">
    <a href="#main">
      <i class="fa fa-angle-down fa-5x" style="color: #000;"></i>
    </a>
  </div>
</section>

<div id="main" class="container">
  <%= partial "partials/instagram-grid" %>
</div>
