<section class="bg-hero" data-bottom-top="background-position: 50% 10%" data-top-bottom="background-position: 50% 75%">
  <!-- Content here -->
</section>

<div class="container marketing">
  <%= partial "partials/instagram-grid" %>
</div>
