<div class="container">
  <div class="row">
    <div class="col-md-12 grid--item" style="margin-top:200px;">
      <figure>
        <img src="https://download.unsplash.com/photo-1433463002246-9d846c114eb8" class="img-responsive" alt="">
        <figcaption>Modern Rocker Part I</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid--item">
      <figure>
        <img src="https://download.unsplash.com/photo-1433463002246-9d846c114eb8" class="img-responsive" alt="">
        <figcaption>Modern Rocker Part I</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid--item">
      <figure>
        <img src="https://download.unsplash.com/photo-1433463002246-9d846c114eb8" class="img-responsive" alt="">
        <figcaption>Modern Rocker Part I</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid--item">
      <figure>
        <img src="https://download.unsplash.com/photo-1433463002246-9d846c114eb8" class="img-responsive" alt="">
        <figcaption>Modern Rocker Part I</figcaption>
      </figure>
    </div>
  </div>
</div>